<div style="text-align: center" class="translation">
	<h3>Literary Translation Works</h3>
</div>
<!-- First Row -->
<div class="row">
	<div class="col-md-4">
	<div class="well">
		<div class="row">
			<div class="col-md-5">English Title</div>
			<div class="col-md-7">Our Tragic Universe</div>
		</div>
		<div class="row">
			<div class="col-md-5">Chinese Title</div>
			<div class="col-md-7">我们悲惨的宇宙</div>
		</div>
		<div class="row">
			<div class="col-md-5">Author</div>
			<div class="col-md-7">Scarlett Thomas</div>
		</div>
		<div class="row">
			<div class="col-md-5">Genre</div>
			<div class="col-md-7">Fiction</div>
		</div>
		<div class="row">
			<div class="col-md-5">Role</div>
			<div class="col-md-7">Translator</div>
		</div>
		<a href="https://book.douban.com/subject/20277801/" target="blank"><img src="/assets/book1.jpg" alt= "Our Tragic Universe" id="universe"></a>
	</div>
	</div>
	<div class="col-md-4">
	<div class="well">
		<div class="row">
			<div class="col-md-5">English Title</div>
			<div class="col-md-7">Da Vinci's Ghost</div>
		</div>
		<div class="row">
			<div class="col-md-5">Chinese Title</div>
			<div class="col-md-7">达芬奇幽灵</div>
		</div>
		<div class="row">
			<div class="col-md-5">Author</div>
			<div class="col-md-7">Toby Lester</div>
		</div>
		<div class="row">
			<div class="col-md-5">Genre</div>
			<div class="col-md-7">Non-fiction</div>
		</div>
		<div class="row">
			<div class="col-md-5">Role</div>
			<div class="col-md-7">Translator</div>
		</div>
		<a href="https://book.douban.com/subject/26877273/" target="blank"><img src="/assets/book2.jpg" alt= "Da Vinci's Ghost" id="ghost"></a>
	</div>
	</div>
	<div class="col-md-4">
	<div class="well">
		<div class="row">
			<div class="col-md-5">English Title</div>
			<div class="col-md-7">Mrs. Miniver</div>
		</div>
		<div class="row">
			<div class="col-md-5">Chinese Title</div>
			<div class="col-md-7">忠勇之家</div>
		</div>
		<div class="row">
			<div class="col-md-5">Author</div>
			<div class="col-md-7">Jan Struthe</div>
		</div>
		<div class="row">
			<div class="col-md-5">Genre</div>
			<div class="col-md-7">Fiction</div>
		</div>
		<div class="row">
			<div class="col-md-5">Role</div>
			<div class="col-md-7">Translator</div>
		</div>
		<a href="https://read.douban.com/ebook/2855174/?referral_code=9edl0hvt" target="blank"><img src="/assets/book3.jpg" alt= "Mrs. Miniver" id="miniver"></a>
	</div>
	</div>
</div>	

<!-- Second Row -->
<div class="row">
	<div class="col-md-4">
	<div class="well">
		<div class="row">
			<div class="col-md-5">English Title</div>
			<div class="col-md-7">Down and Out in Paris and London</div>
		</div>
		<div class="row">
			<div class="col-md-5">Chinese Title</div>
			<div class="col-md-7">巴黎伦敦落魄记</div>
		</div>
		<div class="row">
			<div class="col-md-5">Author</div>
			<div class="col-md-7">George Orwell</div>
		</div>
		<div class="row">
			<div class="col-md-5">Genre</div>
			<div class="col-md-7">Non-fiction</div>
		</div>
		<div class="row">
			<div class="col-md-5">Role</div>
			<div class="col-md-7">Editor</div>
		</div>
		<a href="https://read.douban.com/ebook/954114/?referral_code=64gl0qpd" target="blank"><img src="/assets/book4.jpg" alt= "Down and Out in Paris and London" id="orwell"></a>
	</div>
	</div>
	<div class="col-md-4">
	<div class="well">
		<div class="row">
			<div class="col-md-5">English Title</div>
			<div class="col-md-7">Old New York I</div>
		</div>
		<div class="row">
			<div class="col-md-5">Chinese Title</div>
			<div class="col-md-7">纽约往事I: 绅士篇</div>
		</div>
		<div class="row">
			<div class="col-md-5">Author</div>
			<div class="col-md-7">Edith Wharton</div>
		</div>
		<div class="row">
			<div class="col-md-5">Genre</div>
			<div class="col-md-7">Fiction</div>
		</div>
		<div class="row">
			<div class="col-md-5">Role</div>
			<div class="col-md-7">Editor</div>
		</div>
		<a href="https://read.douban.com/ebook/1534675/?referral_code=tzwpo0q1" target="blank"><img src="/assets/book5.jpg" alt= "Old New York I" id="men"></a>
	</div>
	</div>
	<div class="col-md-4">
	<div class="well">
		<div class="row">
			<div class="col-md-5">English Title</div>
			<div class="col-md-7">Old New York II</div>
		</div>
		<div class="row">
			<div class="col-md-5">Chinese Title</div>
			<div class="col-md-7">纽约往事II: 淑女篇</div>
		</div>
		<div class="row">
			<div class="col-md-5">Author</div>
			<div class="col-md-7">Edith Wharton</div>
		</div>
		<div class="row">
			<div class="col-md-5">Genre</div>
			<div class="col-md-7">Fiction</div>
		</div>
		<div class="row">
			<div class="col-md-5">Role</div>
			<div class="col-md-7">Editor</div>
		</div>
		<a href="https://read.douban.com/ebook/1535101/?referral_code=7rd6xf2k" target="blank"><img src="/assets/book6.jpg" alt= "Old New York II" id="lady"></a>
	</div>
	</div>
</div>	
