<div class="welcome">
	<div class='container'>
	<div class="intro">
	<p> Hi, my name is Ling. </p>
	<p> I am : </p>
	<ul>
		<li><i class="fa fa-check-square-o" aria-hidden="true"></i> aspiring software <a href="/web">developer </a></li>
		<li><i class="fa fa-check-square-o" aria-hidden="true"></i> veteran literary <a href="/translation">translator</a></li>
		<li><i class="fa fa-check-square-o" aria-hidden="true"></i> struggling runner</li>
		<li><i class="fa fa-check-square-o" aria-hidden="true"></i> the world's least competitive boardgamer</li>
		<li><i class="fa fa-check-square-o" aria-hidden="true"></i> proud cat owner</li>
	</ul> 
	<br>
	<p> Find me at : </p>
	</div>
	<ul class="contact">
    <li><i class="fa fa-envelope fa-2x" aria-hidden="true"></i> lingjin525@gmail.com | Shoot me a message from <a href ="/contact" target="_blank"> <span> here </span> </a></li>
    <li><i class="fa fa-github fa-2x" aria-hidden="true" ></i><a href ="https://github.com/chloejin525" target="_blank"> /chloejin525</a></li>
    <li><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i><a href ="https://www.linkedin.com/in/ling-jin" target="_blank"> /in/ling-jin</a></li>
  </ul>
</div>