 <footer class="footer">
  <nav>
  <ul>
    <li><a href ="/contact" target="_blank"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
</a></li>
    <li><a href ="https://github.com/chloejin525" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true" ></i></a></li>
    <li><a href ="https://www.linkedin.com/in/ling-jin" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
</a></li>
  </ul>
  </nav>
  <small>
    <span class="pull-right"> &copy 2017 Designed by Ling Jin </span>
  </small>
</footer>