 <footer class="footer">
  <nav>
  <ul>
    <li><a href ="/contact"><%= image_tag "email_icon.png" %></a></li>
    <li><a href ="https://github.com/chloejin525"><%= image_tag "github_icon.png" %></a></li>
    <li><a href ="https://www.linkedin.com/in/ling-jin"><%= image_tag "linkedin_icon.png" %></a></li>
  </ul>
  </nav>
  <small>
    <span class="pull-right"> &copy 2017 Ling Jin </span><br>
    Icons made by <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from <a href="http://www.flaticon.com" title="Flaticon">Flaticon</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </small>
</footer>